<footer class="footer">
    	<div class="container">
                <div class="row align-items-center">
                    <div>
                       <p> Copyright &copy; This website is maintained by <a href = "mailto: oleksandra.bruns@fiz-karlsruhe.de">Oleksandra Bruns</a> and <a href = "mailto: tabea.tietz@fiz-karlsruhe.de">Tabea Tietz</a>. For further questions, please contact us via Email. 
                           </p>
                    </div>
                </div>
            </div>
</footer>
